/*Обнуление*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*{
	padding: 0;
	margin: 0;
	border: 0;
}
html{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
*,*::before,*::after{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "NerisThin";
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


@font-face {
font-family: 'NEXT ART Regular';
font-style: normal;
font-weight: normal;
src: local('NEXT ART Regular'), url('NEXT ART_Regular.woff') format('woff');
}


@font-face {
font-family: 'NEXT ART Bold';
font-style: normal;
font-weight: normal;
src: local('NEXT ART Bold'), url('NEXT ART_Bold.woff') format('woff');
}

body{
	height: 100%;
	font-family: "NEXT ART Regular";
	color: #fff;

}



.wrapper-full{
	width: 100%;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}



.anim_main{
	transform: translate(0px, 100%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}


.anim_main._active{
	transform: translate(0px, 0px);
	opacity: 1;
}
/* welcome style start   */


.welcome {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    background-size: cover;
    justify-content: center;
	background: url("../img/weclome.jpg") no-repeat center;
	background-attachment: fixed;	
	text-align: center;
}

.weclome_main_text{
	font-size: 30px;
	padding: 10px 0;
	transform: translate(0px, 100%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}

.weclome_main_text._active{
	transform: translate(0px, 0px);
	opacity: 1;

}

.weclome_second_text{
	font-size: 18px;

	transform: translate(0px, 100%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}

.weclome_second_text._active{
	transform: translate(0px, 0px);
	opacity: 1;


}


/* welcome style end   */

/* header style start   */

.header {
	background: #918D8A;
	top: 0;
	left: 0;
	flex-wrap: wrap;
	width: 100%;
	max-height: 80px;
	padding-bottom: 20px;
	z-index: 999;
	border-bottom: 1px solid #fff;
}

.header__list {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-wrap: wrap;

}
.header__item {
	margin: 0 auto;
}



.header__item:first-child{
}

.header__item:last-child {
	padding-right: 0;
}

.header__link {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

.sticky__header{
	top: 0;
	position: fixed;
}




/* header style end   */

.empty__active{
	height: 80px;
}

/* about me style start   */

.about-me {
	background: #575757;


}
.about-me__titel {
	padding-top: 110px;
	text-align: center;
	font-size: 22px;
}

.about-me__desc {

}

.about-me__description {
	text-align: center;
	font-size: 18px;
	padding-top: 25px;
	line-height: 20px;
}

.about-me__main {
	display: grid;
	grid-template-columns: repeat(2,1fr);

}

.facts{
	display: flex;
	flex-wrap: wrap;
}

.small__facts{
	margin-right: 40px;
	padding-top: 100px;
	list-style: disc;

}
.small__facts:first-child{
	margin-right: 85px;
}
.small__facts:last-child{
	margin-right: 0;
}


.me{
	padding: 80px 0;
	text-align: center;
}
.me-img{
	max-height: 500px;
}
/* about me style end   */




/* skils style start   */

.skils {
	background: #373833;
	text-align: center;
}
.skils__titel {
	padding-top: 50px;
	text-align: center;

	font-size: 22px;
	padding-bottom: 70px;
}

.skils_element {
	display: grid;
	grid-template-columns: repeat(2,1fr);
}
.progremmer_title{
	font-size: 20px;
}

.web_title{
	font-size: 20px;
}

.progremmer__list {
	padding-left: 70px;
	padding-top: 70px;
	padding-bottom: 116px;
}
.progremmer__list_item {
	display: flex;
	flex-wrap: wrap;
	font-size: 22px;
	padding-bottom: 73px;
}

.skill_bar{
	margin: 0 30px;
	width: 50%;
	height: 20px;
	background: #555;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	border-radius: 25px;
}
.skill_per{
	position: relative;
	height: 20px;
	border-radius: 20px;
	background: linear-gradient( rgb(43,194,83) 37%, rgb(84,240,84) 69%);
	box-shadow: 
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	width: 0;
	transition: 2s linear;

}

.skill_per._active{

}

.item_text{
	width: 70px;
	font-size: 18px;
}


/* skils style end   */


/* interactive style start   */


.interactive {
	background: #575757;
	padding-bottom: 86.6px;
}
.interactive__titel {
	padding-top: 35px;
	text-align: center;
	font-size: 22px;
}

.interactive__main {
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.interactive__list {
	padding-top: 200px;
	grid-column: span 1;
	justify-content: center;

}
.interactive__list_item {
	font-size: 18px;
	margin-bottom: 105px;
	display: flex;
	flex-wrap: wrap;
}



.for__interactive__js{
	grid-column: span 2;

}
.intercative__site {
	padding-top: 100px;
}

.interactive__block {
	position: relative;
	background-color: #fff;
	max-width: 750px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.interactive__header{
	animation-name: header_interactive;
	animation-duration: 1s; 
	width: 100%;
	position: absolute;
	border: 1px solid black;
}

.interactive__header__titel{
	font-size: 20px;
	color: black;
	padding: 19px 0 19px 80px;
	display: flex;
	flex-wrap: wrap;
}


.interactive__header__titel__block{
/*	animation-name: header_interactive;
	animation-duration: 1s; */

}

.main__left__item{
	animation-name: header_interactive;
	animation-duration: 1s;

	margin-top: 60px;
}

.main__figure {
	margin: 60px 15px 0px 15px;
	border: 2px solid #A0A0A0;
	height: 330px;
	border-radius: 20px;
}

.shapes {
	display: flex;
	flex-wrap: wrap;

}
.shape1 {
	height: 55px;
	width: 55px;
	background-color: #C4C4C4;
	border-radius: 50%;
	margin: 15px 25px;
}
.shape2{
	height: 55px;
	width: 55px;
	background-color: #C4C4C4;
	margin: 15px 25px;

}

.shape3 {
	height: 60px;
	width: 150px;
	background-color: #C4C4C4;
	margin: 25px 30px;


}

.list__elements {
	text-align: center;
	grid-column: span 2;
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(6,1fr);	
}

.interactive__element {
	margin-left: 27px;
	margin-top: 60px;
	width: 110px;
	border: 2px solid #A0A0A0;
	border-radius: 20px;
	grid-column: span 2;
	margin-bottom: 50px;

}


.interactive__element1 {
	margin-left: 27px;
	margin-bottom: 50px;
	width: 110px;
	border: 2px solid #A0A0A0;
	border-radius: 20px;
	grid-column: span 2;
}

.line{
	margin-left: 8px;
	margin-bottom: 11px;
	width: 90px;
	height: 3px;
	background-color: #C4C4C4;
	border-radius: 10px;
}
.line:first-child{
	margin-top: 18px;
}
.line:last-child{
	margin-bottom: 18px;
}


.ineractive_checkbox{
	margin-left: 100px;
	counter-reset: items	;
}

.interactive__list_item::before {
	content: counter(items) ".";
	counter-increment: items;
	display: block;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	background-color: #000;
	margin-right: 30px;
	transition: 0.5s;

}

.intearctive__html {
	height: 30px;
	width: 100px;
	padding: 5px 10px;
	background-color: #000;
	border-radius: 10px;
	color: white;
	transition: 0.5s;
}
.intearctive__html:hover{
	background-color: darkgrey;
}
.interactive__list_item:hover::before {
	background-color: darkgrey;
}


.intearctive__css {
	height: 30px;
	width: 100px;
	padding: 5px 10px;
	background-color: #000;
	border-radius: 10px;
	color: white;
	transition: 0.5s;
}
.intearctive__css:hover{
	background-color: darkgrey;
}
.intearctive__js {
	height: 30px;
	width: 100px;
	padding: 5px 10px;
	background-color: #000;
	border-radius: 10px;
	color: white;
	transition: 0.5s;
}
.intearctive__js:hover{
	background-color: darkgrey;
}

.intercative__site:target .main__figure{
	background-color: #AA4646;
	transition: 0.5s;
}

.intercative__site:target .interactive__header__titel{
	background-color: #A0A0A0;
	transition: 0.5s;

}


.for__interactive__js:target .interactive__header__titel{
	
}

@keyframes header_interactive {
	0%{
		left: 0px;
	}
	100%{
		left: 500px;
	}
}



.intercative__site:target .interactive__header{
	border: 0px;
}

.intercative__site:target .one{
	background-color: #BD017D;
	transition: 0.5s;

}
.intercative__site:target .two{
	background-color: #37B70A;
	transition: 0.5s;

}
.intercative__site:target .three{
	background-color: #F0FFB4;
	transition: 0.5s;

}
.intercative__site:target .four{
	background-color: #4EA69B;
	transition: 0.5s;

}
.intercative__site:target .five{
	background-color: #4200FF;
	transition: 0.5s;

}
.intercative__site:target .six{
	background-color: #6966F8;
	transition: 0.5s;

}
.intercative__site:target .interactive__block{
	background-color: #b7b6b666;
	transition: 0.5s;

}



/* interactive style end   */



/* price style start   */


.price {
	background: #373833;
}
.price__title {
	padding-top: 35px;
    text-align: center;
    font-size: 22px;
}
.price__main {
	padding-top: 40px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
    column-gap:	30px;

}

.price_descr {
	padding-top: 30px;
}
.price_descr_item {
	padding-top: 20px;
}



.price__main_column {
	min-height: 565px;
	text-align: center;
	background: #A0A0A0;
	margin-bottom: 49.4px;
	position: relative;
	perspective: 1000px;
	transition: 0.8s;
}

.price__column_titel {
	font-size: 18px;
	padding-top: 64px;
	padding-bottom: 40px;
	border-bottom: 1px solid #575757;
	margin: 0 40px;
}

.price__column_number{
	padding-top: 30px;
	font-size: 18px;
	padding-bottom: 30px;
	border-bottom: 1px solid #575757;
	margin: 0 40px;
}

.first__front__side, .first__back__side, .second__front__side, .second__back__side, .third__front__side, .third__back__side{
	height: 100%;
	width: 100%;
	position: absolute;
	transition: 1s;
	backface-visibility: hidden;
}

.first__back__side{
	background: url(../img/Japan-min3.jpg);
	transform: rotateY(180deg);
}
.second__back__side{
	transform: rotateY(180deg);
	background: url(../img/photograph-mini.jpg);

}

.third__back__side{
	transform: rotateY(180deg);
	background: url(../img/inerner-shop-mini.jpg);

}


.bg{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}

.price__main_column:hover {
	background: #373833;
}

.price__main_column:hover .first__front__side{
	transform: rotateY(180deg);
}

.price__main_column:hover .first__back__side{
	transform: rotateY(360deg);
}

.price__main_column:hover .second__front__side{
	transform: rotateY(180deg);
}

.price__main_column:hover .second__back__side{
	transform: rotateY(360deg);
}

.price__main_column:hover .third__front__side{
	transform: rotateY(180deg);
}

.price__main_column:hover .third__back__side{
	transform: rotateY(360deg);
}

.link__popup__form{
	padding-top: 70%;

}

.contact__form_link{
	font-size: 20px;
	background-color: #fff;
	padding: 10px 50px;
	text-decoration: none;
	color: #000;
	border: 1px solid;
	border-radius: 50px;
}


.contact__form_link:hover{
	background-color: #ededed;
}

.popup__form {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	opacity: 0.5;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
}

.popup__form:target {
	opacity: 1;
	visibility: visible;
}

.popup__form:target .popup__form_conect{
	opacity: 1;
	transform: translate(0px,0px);
}

.popup__form_area {
	position: absolute;
	width: 100%;
	height: 100%;
}
.popup__form_body {
	min-height:  100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup__form_conect {
	text-align: center;
	background-color: #fff;
	color: black;
	min-width: 800px;
	padding: 40px;
	position: relative;
	opacity: 0;
	transform: translate(0px,-100%);
	transition: all 0.5s ease 0s;
}
.popup__form_close {
	position: absolute;
	right: 10px;
	top: 10px;
	text-decoration: none;
	color: black;
}
.popup__form_title {
	font-size: 24px;
}






/* price style end   */

/* contact me style start   */


.contact_me{
	height: 150px ;
	background: url(../img/weclome.jpg);
	background-attachment: fixed;
}

.hello{
	padding-top: 70px;
	text-align: center;

}

.contact_link{
	font-size: 20px;
	background-color: #fff;
	padding: 10px 50px;
	text-decoration: none;
	color: #000;
	border-radius: 50px;
}




.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	opacity: 0.5;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}

.popup:target .popup_conect{
	opacity: 1;
	transform: translate(0px,0px);
}

.popup_area{
	position: absolute;
	width: 100%;
	height: 100%;
}

.popup_body {
	min-height:  100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;

}
.popup_conect {
	text-align: center;
	background-color: #fff;
	color: black;
	min-width: 800px;
	padding: 40px;
	position: relative;
	opacity: 0;
	transform: translate(0px,-100%);
	transition: all 0.5s ease 0s;

}
.popup_close {
	position: absolute;
	right: 10px;
	top: 10px;
	text-decoration: none;
	color: black;

}
.popup__title {
	font-size: 24px;
}


/* contact me style end   */

/* portfolio style start   */


.portfolio__titel {
	padding-top: 35px;
    text-align: center;
    font-size: 22px;
    padding-bottom: 90px;
}
.project__titel {
	text-align: center;
	font-size: 18px;
	padding-bottom: 10px;
}

.portfolio_item-1 {
	background: #575757;
}
.portfolio_item-2{
	background: #373833;
	padding-top: 50px;
}

.portfolio_item-3{
	background: #575757;
	padding-top: 50px;
}

.portfolio_item-4{
	background: #373833;
	padding-top: 50px;
}

.portfolio__project{
	text-align: center;
}

.project__art {
	margin-bottom: 30px;
}

.project__footer {
	margin-left: 120px;
	text-align: left;
	font-size: 18px;
	color: #A0A0A0;
	padding-bottom: 80px;		
}



/* portfolio style end   */


/* feedback style start   */

.feedback{
	background: #575757;
	min-height: 300px;
	text-align: center;
}


.feedback__titel{
	font-size: 18px;
	padding-top: 20px;
	text-align: center;
}

.feedback__list{
	padding-top: 40px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.feedback__element__img{
	max-height: 100px;
	max-width: 100px;
	border-radius: 50%;
}
.feedback__name{
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.feedback__type{
	font-size: 12px;
	padding-bottom: 10px;
}
.feedback__comment{
	font-size: 14px;
}


.feedback__text{
	padding-bottom: 40px;
}


/* feedback style end   */

/* footer style start   */

.contact {
	background: #373833;
}

.contact__icon{
	padding-top: 50px;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	padding-bottom: 35px;
}

/* footer style end   */

/* sroll style start   */


.scroll-up {
    position: fixed;
    z-index: 999;
    bottom: 25px;
    right: 25px;
	opacity: 0;

}
.scroll__active{
	opacity: 1;
}
.scroll-up-link {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    border-radius: 10px;
    transition: all 2s ease-in-out 2s;
}

.fa-angle-up:before {
	font-size: 10px;
    content: 'up';
}
/* sroll style end   */


