/*Обнуление*/

*{
	padding: 0;
	margin: 0;
	border: 0;
}
html{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
*,*::before,*::after{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "NerisThin";
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


@font-face {
font-family: 'NEXT ART Regular';
font-style: normal;
font-weight: normal;
src: local('NEXT ART Regular'), url('NEXT ART_Regular.woff') format('woff');
}


@font-face {
font-family: 'NEXT ART Bold';
font-style: normal;
font-weight: normal;
src: local('NEXT ART Bold'), url('NEXT ART_Bold.woff') format('woff');
}

body{
	height: 100%;
	font-family: "NEXT ART Regular";
	color: #fff;

}

.wrapper-full{
	width: 100%;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
}



.anim_main{
	-webkit-transform: translate(0px, 100%);
	    -ms-transform: translate(0px, 100%);
	        transform: translate(0px, 100%);
	opacity: 0;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}


.anim_main._active{
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
}



.welcome {
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
    background-size: cover;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	background: url("../img/weclome.jpg") no-repeat center;
	background-attachment: fixed;	
	text-align: center;
}

.weclome_main_text{
	font-size: 30px;
	padding: 10px 0;
	-webkit-transform: translate(0px, 100%);
	    -ms-transform: translate(0px, 100%);
	        transform: translate(0px, 100%);
	opacity: 0;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}

.weclome_main_text._active{
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;

}

.weclome_second_text{
	font-size: 18px;

	-webkit-transform: translate(0px, 100%);

	    -ms-transform: translate(0px, 100%);

	        transform: translate(0px, 100%);
	opacity: 0;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}

.weclome_second_text._active{
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
}

.details{
    position: absolute;
	bottom: 100px;
	left: calc(50% - 40px);
}

.arrow {
  width: 50px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
  -webkit-animation: arrowDown 2s infinite;
          animation: arrowDown 2s infinite;
}

.arrow.two {
  opacity: 0;
  bottom: 50px;
  -webkit-animation: arrowDown1 2s infinite;
          animation: arrowDown1 2s infinite;
}

@-webkit-keyframes arrowDown {
  0% {
    bottom: 30px;
    opacity: 1;
  }
  100% {
    bottom: 0px;
    opacity: 0;
  }
}

@keyframes arrowDown {
  0% {
    bottom: 30px;
    opacity: 1;
  }
  100% {
    bottom: 0px;
    opacity: 0;
  }
}
@-webkit-keyframes arrowDown1 {
  0% {
    bottom: 50px;
    opacity: 1;
  }
  100% {
    bottom: 20px;
    opacity: 0;
  }
}
@keyframes arrowDown1 {
  0% {
    bottom: 50px;
    opacity: 1;
  }
  100% {
    bottom: 20px;
    opacity: 0;
  }
}



/* welcome style end   */

/* header style start   */

.header {
	background: #918D8A;
	top: 0;
	left: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	max-height: 50px;
	z-index: 999;
}

.header__list {
	padding-top: 15px;
	padding-bottom: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

}
.header__item {
	margin: 0 auto;
}



.header__item:first-child{
}

.header__item:last-child {
	padding-right: 0;
}

.header__link {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

.sticky__header{
	top: 0;
	position: fixed;
}




/* header style end   */

.empty__active{
	height: 50px;
}

/* about me style start   */

.about-me {
	background: #575757;
}
.about-me__titel {
	padding-top: 110px;
	text-align: center;
	font-size: 22px;
}

.about-me__description {
	text-align: center;
	font-size: 18px;
	padding-top: 25px;
	line-height: 20px;
}

.about-me__main {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[2];
	grid-template-columns: repeat(2,1fr);
}

.facts{
	padding-left: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.small__facts{
	margin-right: 40px;
	font-size: 18px;
	list-style: disc;
	padding-bottom: 20px;

}
.small__facts:first-child{
	padding-top: 60px;
	margin-right: 45px;
}
.small__facts:last-child{
	margin-right: 50px;
}


.me{
	padding: 80px 0;
	text-align: center;
}
.me-img{
	max-height: 500px;
}
.me1{
	display: none;
}
/* about me style end   */




/* skils style start   */

.skils {
	background: #373833;
	text-align: center;
}
.skils__titel {
	padding-top: 50px;
	text-align: center;

	font-size: 22px;
	padding-bottom: 70px;
}

.skils_element {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[2];
	grid-template-columns: repeat(2,1fr);
}
.progremmer_title{
	font-size: 20px;
}

.web_title{
	font-size: 20px;
}

.progremmer__list {
	padding-left: 70px;
	padding-top: 70px;
	padding-bottom: 116px;
}
.progremmer__list_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	font-size: 22px;
	padding-bottom: 73px;
}

.skill_bar{
	margin: 0 30px;
	width: 50%;
	height: 20px;
	background: #555;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	        box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	border-radius: 25px;
}
.skill_per{
	position: relative;
	height: 20px;
	border-radius: 20px;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(37%, rgb(43,194,83)), color-stop(69%, rgb(84,240,84)));
	background: -o-linear-gradient( rgb(43,194,83) 37%, rgb(84,240,84) 69%);
	background: linear-gradient( rgb(43,194,83) 37%, rgb(84,240,84) 69%);
	-webkit-box-shadow: 
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	        box-shadow: 
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	width: 0;
	-webkit-transition: 2s linear;
	-o-transition: 2s linear;
	transition: 2s linear;

}

.skill_per._active{

}

.item_text{
	width: 70px;
	font-size: 18px;
}


/* skils style end   */


/* interactive style start   */


.interactive {
	background: #575757;
	padding-bottom: 86.6px;
}
.interactive__titel {
	padding-top: 35px;
	text-align: center;
	font-size: 22px;
}

.interactive__main {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[3];
	grid-template-columns: repeat(3,1fr);
}

.interactive__list {
	padding-top: 200px;
	-ms-grid-column-span: 1;
	grid-column: span 1;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

}
.interactive__list_item {
	font-size: 18px;
	margin-bottom: 105px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}



.for__interactive__js{
	-ms-grid-column-span: 2;
	grid-column: span 2;

}
.intercative__site {
	padding-top: 100px;
}

.interactive__block {
	position: relative;
	background-color: #fff;
	max-width: 750px;
	height: 500px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[3];
	grid-template-columns: repeat(3,1fr);
}

.interactive__header{	
	width: 100%;
	position: absolute;
	border: 1px solid black;
}

.interactive__header__titel{
	font-size: 20px;
	color: black;
	padding: 19px 0 19px 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}



.main__left__item{
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;

	margin-top: 60px;
}

.main__figure {

	margin: 60px 15px 0px 15px;
	border: 2px solid #A0A0A0;
	height: 330px;
	border-radius: 20px;
}

.shapes {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

}
.shape1 {

	height: 55px;
	width: 55px;
	background-color: #C4C4C4;
	border-radius: 50%;
	margin: 15px 25px;
}
.shape2{
	height: 55px;
	width: 55px;
	background-color: #C4C4C4;
	margin: 15px 25px;

}

.shape3 {
	height: 60px;
	width: 150px;
	background-color: #C4C4C4;
	margin: 25px 30px;


}

.list__elements {
	text-align: center;
	-ms-grid-column-span: 2;
	grid-column: span 2;
	margin-top: 60px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[6];
	grid-template-columns: repeat(6,1fr);	
}

.interactive__element {
	margin-left: 27px;
	margin-top: 60px;
	width: 110px;
	border: 2px solid #A0A0A0;
	border-radius: 20px;
	-ms-grid-column-span: 2;
	grid-column: span 2;
	margin-bottom: 50px;

}


.interactive__element1 {
	margin-left: 27px;
	margin-bottom: 50px;
	width: 110px;
	border: 2px solid #A0A0A0;
	border-radius: 20px;
	-ms-grid-column-span: 2;
	grid-column: span 2;
}

.line{
	margin-left: 8px;
	margin-bottom: 11px;
	width: 90px;
	height: 3px;
	background-color: #C4C4C4;
	border-radius: 10px;
}
.line:first-child{
	margin-top: 18px;
}
.line:last-child{
	margin-bottom: 18px;
}


.ineractive_checkbox{
	margin-left: 100px;
	counter-reset: items	;
}

.interactive__list_item::before {
	content: counter(items) ".";
	counter-increment: items;
	display: block;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	background-color: #000;
	margin-right: 30px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}

.intearctive__html {
	height: 30px;
	width: 100px;
	padding: 5px 10px;
	background-color: #000;
	border-radius: 10px;
	color: white;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.intearctive__html:hover{
	background-color: darkgrey;
}
.interactive__list_item:hover::before {
	background-color: darkgrey;
}


.intearctive__css {
	height: 30px;
	width: 100px;
	padding: 5px 10px;
	background-color: #000;
	border-radius: 10px;
	color: white;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.intearctive__css:hover{
	background-color: darkgrey;
}
.intearctive__js {
	height: 30px;
	width: 100px;
	padding: 5px 10px;
	background-color: #000;
	border-radius: 10px;
	color: white;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.intearctive__js:hover{
	background-color: darkgrey;
}

.for__interactive__js:target .interactive__header__titel{
	-webkit-animation: header_interactive 2s linear infinite alternate;
	        animation: header_interactive 2s linear infinite alternate;
	
}

@-webkit-keyframes header_interactive {
	0%{
	}
	100%{
	}
}

@keyframes header_interactive {
	0%{
	}
	100%{
	}
}
@-webkit-keyframes figure__interactive1 {
	0%{
		
	}
	100%{

		margin-left: 195px;
	}
}
@keyframes figure__interactive1 {
	0%{
		
	}
	100%{

		margin-left: 195px;
	}
}
@-webkit-keyframes figure__interactive2 {
	0%{
	}
	100%{
		margin-left: -140px;
	}
}
@keyframes figure__interactive2 {
	0%{
	}
	100%{
		margin-left: -140px;
	}
}
@-webkit-keyframes figure__interactive3 {
	0%{
	}
	100%{
		-webkit-transform: rotate(90deg);
		        transform: rotate(90deg);
	}
}
@keyframes figure__interactive3 {
	0%{
	}
	100%{
		-webkit-transform: rotate(90deg);
		        transform: rotate(90deg);
	}
}
@-webkit-keyframes figure__interactive4 {
	0%{
	}
	100%{
		border-radius: 50%;
	}
}
@keyframes figure__interactive4 {
	0%{
	}
	100%{
		border-radius: 50%;
	}
}
@-webkit-keyframes figure__interactive5 {
	0%{
	}
	100%{
		width: 280px;
	}
}
@keyframes figure__interactive5 {
	0%{
	}
	100%{
		width: 280px;
	}
}
@-webkit-keyframes figure__interactive6 {
	0%{
	}
	100%{
		opacity: 0;
		display: none;
	}
}
@keyframes figure__interactive6 {
	0%{
	}
	100%{
		opacity: 0;
		display: none;
	}
}
@-webkit-keyframes figure__interactive7 {
	0%{
	}
	100%{
		width: 260px;
	}
}
@keyframes figure__interactive7 {
	0%{
	}
	100%{
		width: 260px;
	}
}
@-webkit-keyframes figure__interactive8 {
	0%{
	}
	100%{
		margin-left: 20px;
		width: 70px;
	}
}
@keyframes figure__interactive8 {
	0%{
	}
	100%{
		margin-left: 20px;
		width: 70px;
	}
}


.for__interactive__js:target .interactive__header{
	border: 0px;
}

.for__interactive__js:target .one{
	-webkit-animation: figure__interactive1 2s linear forwards;
	        animation: figure__interactive1 2s linear forwards;
	background-color: #BD017D;	
	-webkit-transition: 0.5s;	
	-o-transition: 0.5s;	
	transition: 0.5s;

}
.for__interactive__js:target .two{
	-webkit-animation: figure__interactive2 2s linear forwards;
	        animation: figure__interactive2 2s linear forwards;	
	background-color: #37B70A;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}
.for__interactive__js:target .three{
	-webkit-animation: figure__interactive3 2s linear forwards;
	        animation: figure__interactive3 2s linear forwards;	
	background-color: #F0FFB4;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}
.for__interactive__js:target .four{
	-webkit-animation: figure__interactive4 2s linear forwards;
	        animation: figure__interactive4 2s linear forwards;	
	background-color: #4EA69B;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.for__interactive__js:target .four .line{
	-webkit-animation: figure__interactive8 2s linear forwards;
	        animation: figure__interactive8 2s linear forwards;	
	-webkit-transition: 0.5s;	
	-o-transition: 0.5s;	
	transition: 0.5s;
}

.for__interactive__js:target .five{
	-webkit-animation: figure__interactive5 2s linear forwards;
	        animation: figure__interactive5 2s linear forwards;	
	background-color: #4200FF;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.for__interactive__js:target .five .line{
	-webkit-animation: figure__interactive7 2s linear forwards;
	        animation: figure__interactive7 2s linear forwards;	
	-webkit-transition: 0.5s;	
	-o-transition: 0.5s;	
	transition: 0.5s;
}

.for__interactive__js:target .six{
	-webkit-animation: figure__interactive6 2s linear forwards;
	        animation: figure__interactive6 2s linear forwards;	
	background-color: #6966F8;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}
.for__interactive__js:target .interactive__block{
	background-color: #b7b6b666;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}
.for__interactive__js:target .main__figure{
	background-color: #AA4646;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.for__interactive__js:target .interactive__header__titel{
	background-color: #A0A0A0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}







.intercative__site:target .main__figure{
	background-color: #AA4646;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.intercative__site:target .interactive__header__titel{
	background-color: #A0A0A0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}

.intercative__site:target .interactive__header{
	border: 0px;
}

.intercative__site:target .one{
	background-color: #BD017D;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}
.intercative__site:target .two{
	background-color: #37B70A;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}
.intercative__site:target .three{
	background-color: #F0FFB4;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}
.intercative__site:target .four{
	background-color: #4EA69B;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}
.intercative__site:target .five{
	background-color: #4200FF;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}
.intercative__site:target .six{
	background-color: #6966F8;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}
.intercative__site:target .interactive__block{
	background-color: #b7b6b666;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}



/* interactive style end   */



/* price style start   */


.price {
	background: #373833;
}
.price__title {
	padding-top: 35px;
    text-align: center;
    font-size: 22px;
}
.price__main {
	padding-top: 40px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 30px 1fr 30px 1fr;
	grid-template-columns: repeat(3,1fr);
    -webkit-column-gap:	30px;
       -moz-column-gap:	30px;
            column-gap:	30px;

}

.price_descr {
	padding-top: 30px;
}
.price_descr_item {
	padding-top: 20px;
}



.price__main_column {
	min-height: 565px;
	text-align: center;
	background: #A0A0A0;
	margin-bottom: 50px;
	position: relative;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.price__column_titel {
	font-size: 18px;
	padding-top: 64px;
	padding-bottom: 40px;
	border-bottom: 1px solid #575757;
	margin: 0 40px;
}

.price__column_number{
	padding-top: 30px;
	font-size: 18px;
	padding-bottom: 30px;
	border-bottom: 1px solid #575757;
	margin: 0 40px;
}

.first__front__side, .first__back__side, .second__front__side, .second__back__side, .third__front__side, .third__back__side{
	height: 100%;
	width: 100%;
	position: absolute;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}

.first__back__side{
	background: url(../img/Japan-min3.jpg) center / cover no-repeat;
	max-width: 100%;
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}
.second__back__side{
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
	max-width: 100%;

	background: url(../img/photograph-mini.jpg) center / cover no-repeat;

}

.third__back__side{
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
	max-width: 100%;

	background: url(../img/inerner-shop-mini.jpg) center / cover no-repeat;

}


.bg{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}

.price__main_column:hover {
	background: #373833;
}

.price__main_column:hover .first__front__side{
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

.price__main_column:hover .first__back__side{
	-webkit-transform: rotateY(360deg);
	        transform: rotateY(360deg);
}

.price__main_column:hover .second__front__side{
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

.price__main_column:hover .second__back__side{
	-webkit-transform: rotateY(360deg);
	        transform: rotateY(360deg);
}

.price__main_column:hover .third__front__side{
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

.price__main_column:hover .third__back__side{
	-webkit-transform: rotateY(360deg);
	        transform: rotateY(360deg);
}

.link__popup__form{
	padding-top: 70%;

}

.contact__form_link{
	font-size: 20px;
	background-color: #fff;
	padding: 10px 50px;
	text-decoration: none;
	color: #000;
	border: 1px solid;
	border-radius: 50px;
}


.contact__form_link:hover{
	background-color: #ededed;
}

.popup__form {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	opacity: 0.5;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.popup__form:target {
	opacity: 1;
	visibility: visible;
}

.popup__form:target .popup__form_conect{
	opacity: 1;
	-webkit-transform: translate(0px,0px);
	    -ms-transform: translate(0px,0px);
	        transform: translate(0px,0px);
}

.popup__form_area {
	position: absolute;
	width: 100%;
	height: 100%;
}
.popup__form_body {
	min-height:  100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 30px 10px;
}
.popup__form_conect {
	text-align: center;
	background-color: #fff;
	color: black;
	min-width: 800px;
	padding: 40px;
	position: relative;
	opacity: 0;
	-webkit-transform: translate(0px,-100%);
	    -ms-transform: translate(0px,-100%);
	        transform: translate(0px,-100%);
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.popup__form_close {
	position: absolute;
	right: 10px;
	top: 10px;
	text-decoration: none;
	color: black;
}
.popup__form_title {
	font-size: 24px;
}

/* price style end   */

/* contact me style start   */


.contact_me{
	height: 150px ;
	background: url(../img/weclome.jpg);
	background-attachment: fixed;
	background-position: center;
}

.hello{
	padding-top: 70px;
	text-align: center;

}

.contact_link{
	font-size: 20px;
	background-color: #fff;
	padding: 10px 50px;
	text-decoration: none;
	color: #000;
	border-radius: 50px;
}




.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	opacity: 0.5;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

/*.popup:target {
	opacity: 1;
	visibility: visible;
}*/

.popup__active {
	opacity: 1;
	visibility: visible;
}


.popup:target .popup_conect{
	opacity: 1;
	-webkit-transform: translate(0px,0px);
	    -ms-transform: translate(0px,0px);
	        transform: translate(0px,0px);
}

.popup_area{
	position: absolute;
	width: 100%;
	height: 100%;
}

.popup_body {
	min-height:  100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 30px 10px;

}
.popup_conect {
	text-align: center;
	background-color: #fff;
	color: black;
	min-width: 800px;
	padding: 40px;
	position: relative;
	opacity: 0;
	-webkit-transform: translate(0px,-100%);
	    -ms-transform: translate(0px,-100%);
	        transform: translate(0px,-100%);
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;

}
.popup_close {
	position: absolute;
	right: 10px;
	top: 10px;
	text-decoration: none;
	color: black;

}
.popup__title {
	font-size: 24px;
}


/* contact me style end   */

/* portfolio style start   */


.portfolio__titel {
	padding-top: 35px;
    text-align: center;
    font-size: 22px;
    padding-bottom: 90px;
}
.project__titel {
	text-align: center;
	font-size: 16px;
	padding-bottom: 20px;
}

.portfolio_items {
	background: #575757;
}


.portfolio__projects{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
	grid-template-columns: repeat(6,1fr);
	text-align: center;
	-webkit-column-gap: 20px;
	   -moz-column-gap: 20px;
	        column-gap: 20px;
}

.project__art {
	margin-bottom: 20px;
	width: 375px;
	height: 255px;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
	
}

.project__footer {
	text-align: left;
	font-size: 16px;
	color: #A0A0A0;
	padding-bottom: 80px;		
}

.portfolio__item{
	-ms-grid-column-span: 2;
	grid-column: span 2;
}


.popup__image {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	opacity: 0.5;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

/*.popup__image:target {
	opacity: 1;
	visibility: visible;
}*/



/* portfolio style end   */


/* feedback style start   */

.feedback{
	background: #373833;
	min-height: 300px;
	text-align: center;
}


.feedback__titel{
	font-size: 22px;
	padding-top: 20px;
	text-align: center;
}

.feedback__list{
	padding-top: 40px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 10px 1fr 10px 1fr;
	grid-template-columns: repeat(3,1fr);
	-webkit-column-gap: 10px;
	   -moz-column-gap: 10px;
	        column-gap: 10px;
}

.feedback__img__block{
	margin: auto;
	background: url(../img/ekat2.jpg) center / cover no-repeat;
	height: 125px;
	width: 125px;
	border-radius: 50%;
}
.feedback__img__block2{
	margin: auto;
	background: url(../img/Lera3.jpg) center / cover no-repeat;
	height: 125px;
	width: 125px;
	border-radius: 50%;
}
.feedback__img__block3{
	margin: auto;
	background: url(../img/Nat.jpg) center / cover no-repeat;
	height: 125px;
	width: 125px;
	border-radius: 50%;
}

.feedback__name{
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.feedback__type{
	font-size: 12px;
	padding-bottom: 10px;
}
.feedback__comment{
	font-size: 14px;
}


.feedback__text{
	padding-bottom: 40px;
}


/* feedback style end   */

/* footer style start   */

.contact {
	background: #575757;
}

.contact__icon{
	padding-top: 50px;
	text-align: center;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[4];
	grid-template-columns: repeat(4,1fr);
	padding-bottom: 35px;
}

.contact__icon a{
	width: 50px;
	margin: 0 auto;
}

/* footer style end   */

/* sroll style start   */


.scroll-up {
    position: fixed;
    z-index: 999;
    bottom: 25px;
    right: 25px;
	opacity: 0;

}
.scroll__active{
	opacity: 1;
}
.scroll-up-link {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    border-radius: 10px;
    -webkit-transition: all 2s ease-in-out 2s;
    -o-transition: all 2s ease-in-out 2s;
    transition: all 2s ease-in-out 2s;
}

.fa-angle-up:before {
	font-size: 10px;
    content: 'up';
}
/* sroll style end   */




/*   media style start */

@media screen and (max-width: 1060px) {

	.interactive__element, .interactive__element1 {
    	margin-left: 0;
	}
	
	@-webkit-keyframes figure__interactive1 {
		0%{
			
		}
		100%{

			margin-left: 135px;
		}
	}
	
	@keyframes figure__interactive1 {
		0%{
			
		}
		100%{

			margin-left: 135px;
		}
	}

	@-webkit-keyframes figure__interactive5 {
		0%{
		}
		100%{
			width: 265px;
		}
	}

	@keyframes figure__interactive5 {
		0%{
		}
		100%{
			width: 265px;
		}
	}

	@-webkit-keyframes figure__interactive7 {
		0%{
		}
		100%{
			width: 245px;
		}
	}

	@keyframes figure__interactive7 {
		0%{
		}
		100%{
			width: 245px;
		}
	}
}
@media screen and (max-width: 908px) {

	.about-me__titel {
	    font-size: 20px;
	}
	.about-me__description {
	    font-size: 16px;
	}
	.small__facts {
	    font-size: 16px;
	}
	.skils__titel {
	    font-size: 20px;
	}
	.progremmer_title {
	    font-size: 18px;
	}
	.web_title {
	    font-size: 18px;
	}
	.progremmer__list_item {
	    font-size: 18px;
	}
	.skill_bar {
	    margin: 0 10px 0 0;
	}
	.item_text {
	    font-size: 16px;
	}
	.progremmer__list {

	   padding-bottom: 0px; 
	}
	.interactive__titel {
	    font-size: 20px;
	}
	.ineractive_checkbox {
	    margin-left: 0;
	}
	.shape1 {
	    height: 45px;
	    width: 45px;
        margin: 15px 0px 0 25px;
	}
	.shape2 {
	    height: 45px;
	    width: 45px;
        margin: 15px 0px 0 25px;
	}
	.shape3 {
	    width: 100px;
	    height: 50px;
		margin: 35px 30px;
	}
	.main__figure {
	    /*height: 300px;*/
	}
	.interactive__element {
    	width: 90px;
	}
	.interactive__element1 {
    	width: 90px;
	}
	.line {
		width: 70px;
	}

	@-webkit-keyframes figure__interactive1 {
		0%{
			
		}
		100%{

			margin-left: 95px;
		}
	}

	@keyframes figure__interactive1 {
		0%{
			
		}
		100%{

			margin-left: 95px;
		}
	}

	@-webkit-keyframes figure__interactive5 {
		0%{
		}
		100%{
			width: 185px;
		}
	}

	@keyframes figure__interactive5 {
		0%{
		}
		100%{
			width: 185px;
		}
	}

	@-webkit-keyframes figure__interactive7 {
		0%{
		}
		100%{
			width: 165px;
		}
	}

	@keyframes figure__interactive7 {
		0%{
		}
		100%{
			width: 165px;
		}
	}

	@-webkit-keyframes figure__interactive2 {
		0%{
		}
		100%{
			margin-left: -100px;
		}
	}

	@keyframes figure__interactive2 {
		0%{
		}
		100%{
			margin-left: -100px;
		}
	}
	@-webkit-keyframes figure__interactive3 {
		0%{
		}
		100%{
			-webkit-transform: rotate(180deg);
			        transform: rotate(180deg);
		}
	}
	@keyframes figure__interactive3 {
		0%{
		}
		100%{
			-webkit-transform: rotate(180deg);
			        transform: rotate(180deg);
		}
	}
	@-webkit-keyframes figure__interactive4 {
		0%{
		}
		100%{
			border-radius: 50%;
		}
	}
	@keyframes figure__interactive4 {
		0%{
		}
		100%{
			border-radius: 50%;
		}
	}
	@-webkit-keyframes figure__interactive8 {
		0%{
		}
		100%{
			margin-left: 15px;
			width: 55px;
		}
	}
	@keyframes figure__interactive8 {
		0%{
		}
		100%{
			margin-left: 15px;
			width: 55px;
		}
	}

	.price__title {
	    font-size: 20px;
	}
	.price__column_titel {
	    font-size: 14px;
	}
	.price__column_number {
	    font-size: 14px;
	}
	.price_descr_item {
	    font-size: 12px;
	}
	.link__popup__form {
	    padding-top: 120%;
	}
	.contact__form_link {
	    font-size: 16px;
	    padding: 10px 10px;
	}
	.contact_link {
    	font-size: 18px;
	    padding: 10px 20px;
	}
	.portfolio__titel {
	    font-size: 20px;
	}
	.project__art2 {
		margin-top: 15px;
	}
	.project__footer {
	    font-size: 14px;
	}
	.feedback__titel{
		font-size: 20px;
	}
	.feedback__img__block{
		width: 100px;
		height: 100px;
	}
	.feedback__img__block2{
		width: 100px;
		height: 100px;
	}
	.feedback__img__block3{
		width: 100px;
		height: 100px;
	}
	.feedback__name {
	    font-size: 14px;
	}
	.feedback__type {
	    font-size: 10px;
	}
	.feedback__comment {
	    font-size: 12px;
	}

	.popup__form_conect {
    	min-width: 700px;
	}
}

@media screen and (max-width: 730px) {

	.interactive {
	    display: none;
	}
	.header__link {
    	font-size: 14px;
	}
	.weclome_second_text {
	    font-size: 16px;
	}
	.weclome_main_text {
	    font-size: 24px;
	}
	.about-me__main {
	    /*display: block;*/
	}
	.about-me__titel {
	    font-size: 16px;
	}
	.about-me__description {
	    font-size: 14px;
	}
	.me1 {
	    display: block;
	    padding: 80px 0px 0 5px;
	    float: right;
	}
	.me{
		display: none;
	}
	.facts {
		margin-top: 70px;
		font-size: 14px;
	}
	.about-me__desc{
		-ms-grid-column-span: 2;
		grid-column: span 2;
	}
	.me-img {
	    max-height: 300px;
	}
	.small__facts:first-child {
	    padding-top: 10px;
	}
	.small__facts {
	    font-size: 14px;
	}
	.skils__titel {
	    font-size: 16px;
	}
	.progremmer_title {
	    font-size: 14px;
	}
	.web_title {
	    font-size: 14px;
	}
	.progremmer__list {
	    padding-left: 0px;
	}
	.progremmer__list_item {
	    font-size: 12px;
	    height: 20px;
	    line-height: 20px;
	}
	.item_text {
		height: 20px;
		line-height: 20px;
	    font-size: 12px;
	    width: 50px;
	    padding-right: 5px;
	}
	.price {
	    background: #575757;
	}
	.price__title{
		font-size: 16px;
	}
	.price__column_titel {
	    font-size: 12px;
	    padding-top: 40px;
	    padding-bottom: 30px;
	    margin: 0; 
	    border-bottom: 0px solid #575757;
	}
	.third__front__side .price__column_titel{
		padding-bottom: 42px;
	}
	.price__main{
		-webkit-column-gap: 10px;
		   -moz-column-gap: 10px;
		        column-gap: 10px;
	}
	.price__column_number {
		border-top: 1px solid #575757;
	    font-size: 12px;
	    margin: 0 10px;
	}
	.wrapper {
	    padding: 0 10px;
	}
	.price_descr_item:first-child {
		word-spacing: 4px;
	}
	.link__popup__form {
	    padding-top: 210%;
	}
	.contact__form_link {
	    font-size: 12px;
	    padding: 5px 5px;
	    width: 100%;
	}
	.popup__form_conect {
    	min-width: 400px;
	}
	.popup__form_title {
	    font-size: 20px;
	}
	.contact__icon a {
	    width: 40px;
	}
	.popup_conect {
    	min-width: 400px;
	}
	.popup__title{
	    font-size: 20px;
	}

	.portfolio_items {
	    background: #373833;
	}
	.portfolio__titel {
	    font-size: 16px;
	}
	.project__titel {
	    font-size: 12px;
	    padding-bottom: 20px;
	}
	.portfolio__projects {
	    -ms-grid-columns: (1fr)[1];
	    grid-template-columns: repeat(1,1fr);
	}
	.feedback {
	    background: #575757;
	}
	.feedback__titel {
	    font-size: 16px;
	}
	.feedback__list {
	    -ms-grid-columns: (1fr)[1];
	    grid-template-columns: repeat(1,1fr);
	}
	.feedback__type {
	    font-size: 12px;
	}
	.contact {
	    background: #373833;
	}
}

@media screen and (max-width: 420px) {

	.third__front__side .price__column_titel {
	    padding-bottom: 40px;
	}
	.skill_bar {
	    margin: 0 5px 0 0;
	}
	.price__column_titel {
	    font-size: 10px;
	}
	.price__column_number {
	    font-size: 10px;
	}
	.price_descr_item {
	    font-size: 10px;
	}
	.contact__form_link {
	    font-size: 10px;
	}
	.contact_link {
	    font-size: 14px;
	}
	.popup__form_conect {
    	min-width: 350px;
	}
	.popup_conect {
    	min-width: 350px;
	}
}
@media screen and (max-width: 320px) {
	.me-img {
	    max-height: 200px;
	}
	.about-me__description {
	    font-size: 12px;
	}
	.about-me__titel {
 	   padding-top: 90px;
	}
	.facts {
	    margin-top: 20px;
	}
	.small__facts {
	    font-size: 12px;
	}
	.header__link {
	    font-size: 12px;
	}
	.progremmer_title {
	    font-size: 12px;
	}
	.web_title {
	    font-size: 12px;
	}
	.item_text {
	    font-size: 10px;
	    width: 40px;
	}
	.skill_bar {
	    margin: 0 2px 0 2px;
	}
	.price_descr_item:first-child {
	    word-spacing: 0px; 
	}
	.third__front__side .price__column_titel {
	     padding-bottom: 30px; 
	}
	.price__main {
	    -ms-grid-columns: (1fr)[1];
	    grid-template-columns: repeat(1,1fr);
	}
	.price__column_titel {
	    font-size: 12px;
	}
	.price__column_number {
	    font-size: 12px;
	}
	.price_descr_item {
	    font-size: 12px;
	}
	.price_descr_item {
	    padding-top: 30px;
	}
	.link__popup__form {
	     padding-top: 90%; 
	}
	.contact__form_link {
	    font-size: 16px;
	    padding: 10px 5px;
	}
	.popup__form_conect {
    	min-width: 300px;
	}
	.popup_conect {
    	min-width: 300px;
	}
}
/*   media style end */